

.CustomCardName {
  margin: 10px 0px;
  color: black;
  font-weight: bold;
}

.CustomCardDescMeta{
  margin: 10px 0px;

  font-weight: bold;
}


.CustomCardImg {
  height: 200px;
  width: 100%;
}

.CustomCardContainer {
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 15px;
}

